body {
  background-image: url("https://media1.giphy.com/media/TxVVB6PfWMjE4/giphy.gif");
  font-size: 100%;
  color: lightblue;
}

.alexClass {
  font-size: 300%;
     font-family: 'Lobster', cursive;
     text-align: center;
     text-transform: lowercase;
     letter-spacing: 5px;
     transition: rotate(-30)deg;
     text-shadow: length
}